fastapi
uvicorn
aiohttp
pydantic
grpcio
grpcio-tools
langchain
langchain-core
langchain-ollama
langchain-huggingface
langchain-qdrant
langgraph
langgraph-checkpoint-postgres
transformers
cohere
xgboost
psycopg[binary,pool]
asyncpg
sentence-transformers
python-dotenv
qdrant-client